.root{
    -fx-background-color: linear-gradient(#383838, #838383);
}

.list-view{
    -fx-background-color: #838383;
}

#OK.list-cell, #SET.list-cell{
    -fx-background-color: #22802b;
}

#dropdown > .list-cell{
    -fx-border-width: 0px;
    -fx-text-fill: black;
}

#empty.list-cell{

}

#WARNING.list-cell{
    /* background color set in code FIX*/
}

#NULL.list-cell{
    -fx-background-color: white;
}

#ERROR.list-cell{
    -fx-background-color: red;
    -fx-text-fill: white;
}

.list-cell:selected{
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

#OK:selected,#WARNING:selected{
    -fx-text-fill: white;
}

#NULL:selected{
    -fx-text-fill: blue;
}